@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Geise", sans-serif; 
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/Inter_18pt-Regular.ttf");
}

@font-face {
  font-family: "Geise";
  src: url("/assets/fonts/static/Geist-Regular.ttf");
}

@font-face {
  font-family: "Geise-Regular";
  src: url("/assets/fonts/ttf/geist-latin-ext-600-normal.ttf");
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
